html{
    background-color: #f0e2d3;
    }
    
    
    .title, .subtitle{
        text-indent: 50px;
    }
    
    .subtitle{
        margin-top: 30px;
    
    }
    
    
    .line{
        padding-left: 50px;
        color: black;
    }
    
    .contenedor{
        width: 95%;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
    
    .search, .result{
        margin: 2px;
        width: 420px;
        height: 280px;
        text-align: center;
    }
    
    .search{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    
    .comida, .ingrediente, .dificultad{
        width: 95%;
        padding: 2px;
        height: 15%;
        background-color: white;
        color: #563514;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    
    }
    
    .boton{
        height: 15%;
        background-color: red;
        border-radius: 15px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .button{
        background-color: red;
        border-radius: 15px;
        height: 50px;
        width: 200px;
        color: white;
        text-emphasis: initial;
        font-size: 20px;
    }
    
    
    .result{
        background: #ff5050 9%;
    
    }
    
    .input-text{
        border: none;
        width: 100%;
        text-align: center;
    }
    
    .input-text:focus{
        outline: none;
        border: none;
    
    }
    
    .dificultad{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .icon3, .icon2, .icon1{
        width: 20px;
        height: 18px;
        position: absolute;
        left: 20px;
    }
    
    
    
    
    /* Star CSS */
    .txt-center {
        text-align: center;
      }
      .hide {
        display: none;
      }
    
      .clear {
        float: none;
        clear: both;
      }
    
      .rating {
          width: auto;
          unicode-bidi: bidi-override;
          direction: rtl;
          text-align: center;
          position: relative;
      }
    
      .rating > label {
          display: inline;
          padding: 0;
          margin: 0;
          position: relative;
          cursor: pointer;
          color: #000;
      }
    
      .rating > label:hover > .star,
      .rating > label:hover ~ label > .star,
      .rating > input.radio-btn:checked ~ label > .star {
          background-image: url("../icons/star.png");          
      }

      .text {
          display: inline-block;
          margin-right: 5px;
          transform: translateY(-2px);
      }

      .star{
          margin-top: 5px;
          color: #563514;
          width: 15px;
          height: 15px;
          background-image: url("../icons/BorderStar.png");
          display: inline-block;
          background-size: cover;
      }
    
      /*.rating > label:hover:before,
      .rating > label:hover ~ label:before,
      .rating > input.radio-btn:checked ~ label:before,
       .rating > input.radio-btn:checked ~ label:before {
          content: "\2605";
          position: absolute;
          left: 0;
          color: #FFD700;
      } */