.fridge
{
    display: flex;
    flex-wrap: wrap;
}

.fridge-item {
    padding: 20px;
    background-color: #e132321a;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.fridge-item h3 {
    margin: 0;
    color: #ff0000;
}

.fridge-item > span {
    margin: 5px 0;
}

.fridge-item .btn-container {
    display: flex;
    margin: 0;
}

.btn-container .btn {
    border: solid 1px #00000040;
    width: 27px;
    height: 27px;
    position: relative;
    border-radius: 2px;
    background-color: #ff5f5f;
    color: #ffffff;
    margin-right: 5px;
    transition: background-color 0.1s;
    cursor: pointer;
}

.btn-container .btn:hover {
    background-color: #ca5454;
}

.btn-container .btn:active {
    background-color: #832e2e;
}

.btn-container .btn span {
    margin-top: 1px;
    margin-left: 0.5px;
}

.btn-container input.small 
{
    width: 70%;
}

.fridge-item input 
{
    background-color: #efd0c2;
    border: solid 1px #0002;
    padding: 5px;
}

.btn-container select
{
    width: 30%;
}

.btn-container.spaced 
{
    margin-bottom: 10px;
}

.subtitle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.subtitle-container h2 {
    margin: 0;
}

.add-subtitle-btn {
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.1s;
    padding: 5px;
}

.add-subtitle-btn:hover {
    background-color: #5635141f;
}