* {
    box-sizing: border-box;
}

body {
    background-color: #F0E2D3;
    margin: 0;
    color: #222;
    font-family: 'Muli';
}

.section-header .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.section-header .header .title {
    font-weight: 900;
    font-size: 24pt;
    margin-right: 50px;
}

.section-header .header .subtitle {
    font-weight: 400;
    font-size: 12pt;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #56351424;
}

.section-header .separator {
    margin-top: 20px;
    width: 90%;
}

#page-content {
    /*width: calc(100% - 40px);*/
    width: 100%;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
}

/* PLACEHOLDERS */
.placeholder-bar {
    height: 20px;
    width: 80px;
    background-color: #c9282814;
    margin: 2px;
}

.placeholder-bar.small 
{
    width: 80px;
}

.placeholder-bar.med
{
    width: 100px;
}

.placeholder-bar.long
{
    width: 115px;
}


@media(max-width: 1150px) /* HARD CODED FOR "DOMINGO" */
{
    #day-container :last-child {
        width: 120px;
    }
}