body{
    background-color: #F0E2D3;
    font-family: 'Karla', sans-serif;
    border-color: #563514;
}

.titulo {
    display: flex;
    color: #563514;
    font-size: 3vmin;
    font-family: 'Karla', sans-serif;
    font-weight: bold; 
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.navegacion{
    display: flex;
    height: 12vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;
    justify-content: space-evenly;
}

.partederechamenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40vmin;
}

.burger{
    display:none;
}


@media (max-width: 768px){
    .burger{
        display: flex;
        align-items: center;
        align-items: center;
    }

    .partederechamenu{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .menu{
        flex-direction: column;
    }
    .navegacion{
        padding-top: 1vmin;
        flex-direction: column;
        padding-left: 2vmin;
        padding-right: 2vmin;
    }

    .active{
        display: flex;
    }
    .activenav{
        margin-top: 18vmin;
    }

    .titulo{
        padding-left: 2%;
        width: 50%;
    }

    .izquierda{
        display: flex;
        flex-direction: row;
    }
}