body{
    background-color: #F0E2D3;
    font-family: 'Karla', sans-serif;
    border-color: #563514;
}

.titulo {
    display: flex;
    color: #563514;
    font-size: 3vmin;
    font-family: 'Karla', sans-serif;
    font-weight: bold; 
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #563514;
    
}

.partederechamenu{
    padding-left: 1vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40vmin;
}

.burger{
    display:none;
}

.izquierda{
    display:flex;
    align-items: center;
    flex-direction: row;
}

.espacio{
    width: 60vmin;
}
.derechatitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media (max-width: 768px){
    .burger{
        display: flex;
        align-items: center;
        align-items: center;
    }

    .partederechamenu{
        display: none;
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        width: 100%;
    }
    .active{
        display: flex;
    }
    .activenav{
        margin-top: 18vmin;
    }

    .titulo{
        padding-left: 2vmin;
        font-size: 4vmin;
        width: 70vmin;
        
    }
    .izquierda{
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #563514;

    }
    
    .derechatitulo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .campana{
        padding-right: 2vmin;
    }
    .espacio{
        width: 10vmin;
    }
}