body{
    background-color: #F0E2D3;
    color: #563514;
    font-family: 'Karla', sans-serif;
    border-color: #563514;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

a, a:hover, a:focus
{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
    padding: 5px;
}

a:hover 
{
    background-color: #5635141f;
}

/*ESTILOS DE LA BARRA DEL MENÚ */

.titulo {
    display: flex;
    color: #563514;
    font-size: 3vmin;
    font-family: 'Karla', sans-serif;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
     -webkit-box-shadow: 0 4px 6px -6px #595959;
     -moz-box-shadow: 0 4px 6px -6px #595959;
     box-shadow: 0 4px 6px -6px #595959;
}

.partederechamenu{
    padding-left: 2vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40vmin;
}

.burger{
    display:none;
}

.izquierda{
    display:flex;
    align-items: center;
    flex-direction: row;
}

.espacio{
    width: 50vmin;
}
.derechatitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*ESTILOS DEL CUERPO */
    
.centro{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;   
}

.barralateral{
    padding-top: 0.3vmin;
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 100px;
    align-items: center;
    border-right: 2px solid #E0D0C0;
    padding-right: 0.4vmin;
    background-color: #F0E2D3;
}

.elemento{
    padding: 3vmin;
    
}

.elemento:hover{
    padding: 3vmin;
    background-color: #d7bea8;
    transition: background 0.8s; 
    
}

.elementoactivo{
    background-color: #E5D5C5;
}

.espaciodeabajo{
    height: 50vmin;
}

.contenidodelaweb{
    padding: 4vmin;
}

/*ESTILOS DE LA RECETA GENERAL */

/*ESTILOS TITULO */

.barra-superior{
    display: flex;
    padding: 2vmin;

}

.titulo-receta{
    padding-left: 2vmin;
    color: black;
    font-size: 3vmin;
    font-weight:700;

}

/* ESTILOS DE LA BARRA DE LIKE */

.barra-like{
    display: flex;
    width: 100%;
    height: 5vmin;
    background-color: #F5ECE2;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    font-size: 3vmin;
}

.texto-like{
    margin-left: 1vmin;
    margin-right: 6vmin;
    margin-top: 10vmin;
}

.corazon{
    margin-top: 7vmin;
}
/* ESTILOS DE LA COLUMNA IZQUIERDA DE LAS RECETAS */

.columnas{
    display: flex;
    width: 180vmin;
    flex-direction: row;
    align-content: center;
    background-color: #F5ECE2;
}

.columna-izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vmin;
    padding: 2vmin;
}

.foto{
    width: 100%;
}

figure{
    width:50vmin; /*container-width*/
    height:35vmin; /*container-height*/
    overflow: hidden; /*hide bounds of image */
    border-radius: 2vmin;
}

figure img{
    display:block; /*remove inline-block spaces*/  
    width:110%;
}

.contenido-columna-izquierda{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 4vmin;
}

.tiempo-dificultad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;


}

.tiempo-dificultad-elem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tiempo-receta{
    padding-left: 1vmin;
}

.titulo-seccion{
    font-size: 3vmin;
}

/* ESTILOS DE LA COLUMNA DERECHA DE LAS RECETAS */

.columna-derecha{
    width: 80vmin;
    /*background-color: blue;*/
    padding: 2vmin;
    align-items: flex-start;
    margin-top: 4vmin;
    margin-left: 10vmin;
}

.espacio-central{
    width: 2vmin;
}


@media (max-width: 768px){
    
    /*ESTILOS DE LA BARRA DEL MENÚ */
    .burger{
        display: flex;
        align-items: center;
    }

    .partederechamenu{
        display: none;
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        width: 100%;
    }
    .active{
        display: flex;
    }
    .activenav{
        margin-top: 18vmin;
    }

    .titulo{
        padding-left: 2vmin;
        font-size: 4vmin;
        width: 70vmin;
        
    }
    .izquierda{
        display: flex;
        flex-direction: row;
        width: 100%;
        -webkit-box-shadow: 0 4px 6px -6px #808080;
        -moz-box-shadow: 0 4px 6px -6px #808080;
        box-shadow: 0 4px 6px -6px #808080;
    }
    
    .derechatitulo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .campana{
        padding-right: 2vmin;
    }
    .espacio{
        width: 10vmin;
    }
    
    /*ESTILOS DEL CUERPO */
    
    .centro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .barralateral{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-top: 2px solid #E0D0C0;
        border-bottom: 2px solid #E0D0C0;
        padding-right: 0.4vmin;
        border-right: none;
        position: fixed;
        bottom: 0;
    }

    .elemento{
        padding: 3vmin;

    }

    .elementoactivo{
        background-color: #E5D5C5;
    }

    .espaciodeabajo{
        height: 0px;
        width: 0px;
    }

    .contenidodelaweb{
        display: flex;
        padding: 4vmin;
    }

    
    #page-content {
        /*width: calc(100% - 40px);*/
        width: 100%;
        max-height: calc(100vh - 180px);
        overflow-y: scroll;
    }
    
    /*ESTILOS DE LA RECETA GENERAL */

    /*ESTILOS TITULO */
    
    /* ESTILOS DE LA BARRA DE LIKE */

    .barra-like{
        display: flex;
        width: 80vmin;
        height: 8vmin;
        font-size: 5vmin;
    }

    .texto-like{
        margin-left: 1vmin;
        margin-right: 6vmin;
        margin-top: 8vmin;
    }

    .corazon{
        margin-top: 3vmin;
    }
    
    /* ESTILOS DE LA COLUMNA IZQUIERDA DE LAS RECETAS */
    
    .contenidodelaweb{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .columnas{
        width: 80vmin;
    }
    
    .columnas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contenido-columna-izquierda{
    margin-left: 0vmin;
    }
    .columna-derecha{
    margin-left: 0vmin;
    }

}