/*Color del fondo*/
html{
    background-color: #f0e2d3;
    }

/*Estilo del rectángulo que recubre los datos*/
.rectangulo {
       
        background: #f5ece2;
        width: 1276px;
        height: 250px;
        position: absolute;
        left: 16.9%;
        top: 20%;
   }

/*Estilo del título "Mi cuenta"*/
.miCuentaTit{
    padding: 0;
    font-family: 'Horizon Type - AcherusGrotesque-Regular';
    text-align: center;
    position: absolute;
    top: 12%;
    left: 17%;
    font-size: larger;
    
    
}

/*Estilo de los datos de mi cuenta*/
.datosText{
    
    padding: 0;
    font-family: 'Muli';
    text-align: left;
    position: absolute;
    top: 85%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%; 
}


/*Estilo de la linea entre el Mi cuenta y los datos*/    
.linea {
    height: 1px;
    width: 66.5%;
    background-color: #c5b9ac;
    margin-left: 17%;
    margin-top: 3%;
}

i{
    margin-top: 3%;
    margin-left: 5%;
    font-size:170px;
}

@media (max-width: 768px){

/*Estilo del rectángulo que recubre los datos*/
.rectangulo {
       
    background: #f5ece2;
    width: 325px;
    height: 400px;
    position: absolute;
    left: 16.9%;
    top: 25%;
}

/*Estilo del título "Mi cuenta"*/
.miCuentaTit{
padding: 0;
font-family: 'Horizon Type - AcherusGrotesque-Regular';
text-align: center;
position: absolute;
top: 10%;
left: 40%;
font-size: larger;


}

/*Estilo de los datos de mi cuenta*/
.datosText{

padding: 0;
font-family: 'Muli';
text-align: left;
position: absolute;
top: 45%;
left: 35%;
margin: -15% 0 0 -25%; 
font-size: 70%;
line-height: 250%;
}


/*Estilo de la linea entre el Mi cuenta y los datos*/    
.linea {
height: 1px;
width: 66.5%;
background-color: #c5b9ac;
margin-left: 17%;
margin-top: 12%;
}

i{
margin-top: 5%;
margin-left: 35%;
font-size: 100px;
}
}


























/*Título "Planificador Alimenticio" de la barra de navegación*/
.titulo {
        display: flex;
        color: #563514;
        font-size: 3vmin;
        font-family: 'Karla', sans-serif;
        font-weight: bold; 
        align-items: center;
    }
    
.menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    
.navegacion{
        display: flex;
        height: 12vmin;
        padding-left: 5vmin;
        padding-right: 5vmin;
        justify-content: space-evenly;
    }
    
.partederechamenu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 40vmin;
    }
    
.burger{
        display:none;
    }
    
    
@media (max-width: 768px){
        
.burger{
        display: flex;
        align-items: center;
        align-items: center;
    }
    
.partederechamenu{
        display: none;
        flex-direction: column;
        width: 100%;
    }
.menu{
    flex-direction: column;
    }
        
.navegacion{
    padding-top: 1vmin;
    flex-direction: column;
    padding-left: 2vmin;
    padding-right: 2vmin;
        }
    
.active{
    display: flex;
        }
        
.activenav{
        margin-top: 18vmin;
        }
    
.titulo{
     padding-left: 2%;
    width: 50%;
        }
    
.izquierda{
    display: flex;
    flex-direction: row;
        }
    }